div#board{
    width: 900px;
    height: 550px;
    margin: 0 auto;
    background: url(../img/bg-prueba.jpg);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

.playerOne{
    z-index: 9;
}

.contOne{
    height: 50px;
    width: 100px;
    background: red;
    color: #fff;
    position: absolute;
}
/* .rana-left{
    background: url(../img/rana-i-prueba.png);
    background-size: cover;
}

.rana-right{
    background: url(../img/rana-d-prueba.png);
    background-size: cover;
} */