div#board{
    width: 900px;
    height: 550px;
    margin: 0 auto;
    background: url(../img/bg-game.png);
    background-size: cover;
    position: relative;
    overflow: hidden;
}

div#start{
    width: 900px;
    height: 550px;
    margin: 0 auto;
    background: url(../img/iron-start.png);
    /* background-size: cover; */
    position: relative;
    overflow: hidden;
}

div#start a{
    color: #fff;
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 460px;
    height: 50px!important;
    letter-spacing: .5px;
}
div#start a span{
    display: block;
}

p{
    position: absolute;
    top: 10px;
    left: 50px;
    color: #fff;
    font-size: 25px;
}

.playerOne{
    z-index: 9;
}

.spanOne{
    height: 50px;
    width: 100px;
    color: #fff;
    position: absolute;
    top: 35px;
    left: 720px;
    font-size: 40px;
}
.countrab{
    background: url(../img/rabbit-counter.png);
    background-size: cover;
    height: 56px;
    width: 66px;
    position: absolute;
    top: 20px;
    left: 780px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

body {
    background: #ddd;
}

a {
    color: #4e00cf;
    font-size: 175%;
    text-decoration: none;
    position: absolute;
    top: 340px;
    display: block;
    width: 350px;
    text-align: center;
    color: #000;
}

#clock_wrapper {
    position: absolute;
    top: 1em;
    left: 2em;
}

#clock {
    position: relative;
    z-index: 1;
    width: 300px;
    height: 300px;
}

#timer {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 100%;
    text-align: center;
    width: 100px;
    z-index: 2;
    padding-top: 15%;
    color: #000;
    transition: opacity 350ms linear 0s;
    -webkit-transition: opacity 350ms linear 0s;
}

.half_opacity {
    opacity:0.5;
}

#timerdown{
    position: absolute;
    left: 352px;
    top: 14px;
}